body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
   display: flex; 
   justify-content: center;
   background: #3b501c;
   padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

@media (max-width: 480px) {
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
}